$font-family: "Azeret Mono", sans-serif;
$font-family-display: "Fugaz One", sans-serif;

// Primary color palette
$primary: (
  100: hsl(276, 100%, 99%),
  200: hsl(276, 100%, 95%),
  300: hsl(276, 100%, 85%),
  400: hsl(276, 100%, 75%),
  500: hsl(276, 100%, 50%),
  600: hsl(276, 91%, 50%),
  700: hsl(276, 80%, 40%),
  800: hsl(276, 80%, 32%),
  900: hsl(276, 60%, 15%),
);

// Gray palette
$gray: (
  100: hsl(0, 0%, 100%),
  200: hsl(0, 0%, 92%),
  300: hsl(0, 0%, 82%),
  400: hsl(0, 0%, 71%),
  500: hsl(0, 0%, 58%),
  600: hsl(0, 0%, 45%),
  700: hsl(0, 0%, 35%),
  800: hsl(0, 0%, 27%),
  900: hsl(0, 0%, 21%),
);
