@use "../utilities" as u;

.card {
  border: none;
  .card-title {
    font-weight: 700;
  }
  .card-subtitle {
    margin-bottom: 0.5rem;
  }

  .btn--delete {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &:hover {
    .btn--delete {
      display: inline;
    }
  }

  &--game {
    background: u.get-primary(200);
    .card-title {
      color: u.get-primary(700);
    }
  }
}
