.card {
  .card-subtitle {
    margin-bottom: 0.5rem;
  }

  .btn--delete {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &:hover {
    .btn--delete {
      display: inline;
    }
  }
}
