@use "../utilities" as u;

.card {
  overflow: hidden;
  border: none;

  .card-body {
    .card-title {
      font-weight: 700;
    }

    .card-subtitle {
      margin-bottom: 0.5rem;
    }
  }

  &--game {
    background: u.get-primary(200);

    .card-number-badge {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      background: u.get-primary(900);

      &__number {
        color: u.get-primary(100);
        min-width: 1rem;
        font-family: "Fugaz One";
        font-size: 1.5rem;
        text-align: center;
        align-content: center;
      }
    }

    .btn--delete {
      display: none;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    &:hover {
      .btn--delete {
        display: inline;
      }
    }
  }
}

.card-container {
  &.sortable {
    cursor: grab;

    &:hover {
      .card {
        background: u.get-primary(300);
      }
    }

    &.sortable--ghost {
      opacity: 0;
    }

    &.sortable--chosen {
      cursor: grabbing;
    }

    &.sortable--drag {
      .card {
        box-shadow: 0 0 3rem hsl(from u.get-primary(500) h s l / 0.8);
        background: u.get-primary(300);
        transform: scale(1.05);

        .card-number-badge {
          background: u.get-primary(800);
        }

        .card-body {
          &--main {
            color: u.get-primary(800);

            .card-title {
              color: u.get-primary(600);
            }

            .card-subtitle {
              color: u.get-primary(800);
            }
          }
        }
      }
    }
  }
}
