@use "../utilities" as u;

.card {
  overflow: hidden;
  border: none;

  .card-body {
    .card-title {
      font-weight: 700;
    }

    .card-subtitle {
      margin-bottom: 0.5rem;
    }
  }

  $game-card-background: u.get-primary(200);
  $game-card-background-hover: u.get-primary(300);

  &--game {
    background: $game-card-background;

    .card-number-badge {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      background: u.get-primary(700);

      &__number {
        color: u.get-primary(100);
        min-width: 1rem;
        font-family: "Fugaz One";
        font-size: 1.5rem;
        text-align: center;
        align-content: center;
      }
    }

    .delete-btn-container {
      display: none;
      align-items: center;
      justify-content: end;
      position: absolute;
      width: fit-content;
      height: 100%;
      right: 0;
      padding: 0 1rem;
      background: linear-gradient(
        to left,
        $game-card-background-hover,
        98%,
        transparent
      );
    }

    &:hover {
      background: $game-card-background-hover;
      .delete-btn-container {
        display: flex;
      }
    }
  }
}

.card-container {
  &.sortable {
    cursor: grab;

    &.sortable--ghost {
      opacity: 0;
    }

    &.sortable--chosen {
      cursor: grabbing;
    }

    &.sortable--drag {
      .card {
        box-shadow: 0 0 3rem hsl(from u.get-primary(500) h s l / 0.8);
        background: u.get-primary(300);
        transform: scale(1.05);

        .card-number-badge {
          background: u.get-primary(500);
        }

        .card-body {
          &--main {
            color: u.get-primary(700);

            .card-title {
              color: u.get-primary(500);
            }

            .card-subtitle {
              color: u.get-primary(700);
            }
          }
        }
      }
    }
  }
}
